body{
    margin: 0px;
    color: white;
    font-family: Arial;
}
.principale{
}
/* ************Section 1************/

.section1{
    background-color: turquoise;
}
.header{
    background-color: white;
    background-color: black;
    text-align: center;
}
nav{
    list-style: none;
    margin: 0px 5% 0px 5% ;
    text-align: center;
    display: inline-block;

}
nav li{
    display: inline-block;
    padding: 15px 20px;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: coral;
}
/* ************Section 2************/
.section2{
    height: 200px;
    background-color: #faf9f9;
    /*background-image: url("/image/computer.jpg");*/
}
.section2 h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: Calibri;
    color: orangered;
    margin-top: 0px;
    padding-top: 50px;
}
.section2 p{
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    color: orangered;

}

/***************section 3 *************/


.section3{

    height: 450px;
    overflow: hidden;

}
.menuCard .item{
    width: 22%;
    display: inline-block;
    margin: 10px;
}
.menuCard{
    margin: 20px 2% 10px 4%;
}